{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Dostępne Filmy {% endblock %}

{% block site %}
<div class="jumbotron">
    {% if user.is_authenticated %}
        <h1 class="display-4">Witaj {{ user.username }}</h1>

        <a href="{% url 'logout' %}" class="btn btn-primary">Wyloguj się <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    {% else %}
        <h1 class="display-4">Witaj, nieznajomy</h1>
        <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj się <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    {% endif %}
</div>


    <a href="{% url 'newMovie' %}">Nowy Film</a>
    {% if movies|length == 0 %}
        <h2>Brak Filmów</h2>
    {% else %}
<!--        <h2>Ilość filmów: {{ movies|length }}</h2>-->

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6" style="margin-left: auto;
    margin-right: auto; width: auto;">
        {% for movie in movies %}
        <div class="col" style="margin-bottom: 1rem;">
            <div class="card" style="border-radius: 20px;">
                <div style="position: relative;">

                    <img src="/media/{{ movie.poster }}" class="card-img-top" style=" border-radius: 20px 20px 0px 0px;">
                    <i class="fa-brands fa-2x fa-imdb" style="position: absolute; top: 100%; left: 50%; transform: translate(-50%, -100%);; padding: 5px; color: gold; background-color: #008080; border-radius: 10px 10px 0px 0px; object-position: -100% -100%;"><a style="" > {{ movie.imdb_rating }}</a></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style=" justify-content: center; text-align: center;">{{ movie }}</h5>
                    <hr>
                    <div class="cut-string">
                        {{ movie.description }}
                    </div>

                    <hr>
                    <p>Opcje edycji dla administracji: </p>
                    <a href="{% url 'editMovie' movie.id %}"><i class="fa-solid fa-2x fa-pen-to-square"></i></a>
                    <a href="{% url 'removeMovie' movie.id %}"><i class="fa-solid fa-2x fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
{% endblock %}