{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmy</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
        Witaj {{ user.username }}<br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>

    <a href="{% url 'newMovie' %}">Nowy Film</a>
    {% if movies|length == 0 %}
        <h2>Brak Filmów</h2>
    {% else %}
        <h2>Ilość filmów: {{ movies|length }}</h2>
        {% for movie in movies %}
        <h3>{{ movie }}</h3>
        <p>{{ movie.description }}</p>
        <a href="{% url 'editMovie' movie.id %}">Edytuj Film</a>
        <a href="{% url 'removeMovie' movie.id %}">Usuń Film</a>

        {% endfor %}
    {% endif %}
</body>
</html>