{% extends 'main.html' %}
{% load bootstrap %}
{% block title %}
{{ movie }}
{% endblock %}

{% block site %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-4">Witaj {{ user.username }}</h1>

            <a href="{% url 'logout' %}" class="btn btn-primary">Wyloguj się <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% else %}
            <h1 class="display-4">Witaj, nieznajomy</h1>
            <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj się <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <a href="{% url 'signup' %}" class="btn btn-primary">Zarejestruj się <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        {% endif %}
            <hr>
            <a href="{% url 'allMovies' %}" class="btn btn-success">Strona główna</a>

    </div>
    <div class="container">
    <div class="row row-cols-1 row-cols-lg-2">

        <div class="col">
            <div class="card" style="border-radius: 20px;">
                <div style="position: relative;">

                    <img src="/media/{{ movie.poster }}" class="card-img-top" style=" border-radius: 20px 20px 0px 0px;">
                    <i class="fa-brands fa-1x fa-imdb" style="position: absolute; top: 100%; left: 50%; transform: translate(-50%, -100%); padding: 5px; color: gold; background-color: #008080; border-radius: 10px 10px 0px 0px;"><a style="" > {{ movie.imdb_rating }}</a></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style=" justify-content: center; text-align: center;">{{ movie }}</h5>
                    <hr>
                    <div class="card-text">
                        {{ movie.description }}
                    </div>

                </div>
            </div>
        </div>


        <div class="col">
        <div class="card">
            <div class="card-body">
                {% if request.user.is_authenticated %}
                    <h5 class="card-title">Dodaj Komentarz</h5>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-success">Dodaj</button>

                    </form>
                {% else %}
                    <h5 class="card-title">Komentarze mogą dodawać tylko zalogowani użytkownicy</h5>
                {% endif %}
                <hr>
                <hr>
                {% if coments|length == 0 %}
                    <h5 class="card-title">Pod tym filmem nie ma jeszcze komentarzy</h5>
                {% else %}
                    <h5 class="card-title">Komentarze:</h5>
                    {% for coment in coments %}
                    <hr>
                        <h5 class="card-title" style=" justify-content: center; text-align: left;">Użytkownik: {{ coment.userName }} </h5>
                        <h5 class="card-title" style=" justify-content: center; text-align: left;">Ocena: {{ coment.stars }}</h5>
                        <h6 class="card-title" style=" justify-content: center; text-align: left;">Komentarz: </h6>
                        <div class="card-text">
                            {{ coment.textReview }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    </div>



{% endblock %}